RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
#php_value auto_prepend_file "application/control.php"
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
AddType application/x-httpd-php .js

AddHandler x-httpd-php5 .js
#hacer que php y javascript convivan
#<FilesMatch "\.(js|php)$">
#SetHandler application/x-httpd-php
#</FilesMatch>